@font-face {
  font-family: ChangaOne;
  font-weight: normal;
  font-style: normal;
  src: url("../Common_Fonts/ChangaOne/ChangaOne-Regular.ttf");
}

@font-face {
  font-family: Roboto;
  src: url("../Common_Fonts/Roboto/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

.highlight_text {
  color: #8a53ff;
}

.page_button {
  background-color: #8a53ff;
  border: 1px;
  color: #ffffff;
  width: 45%;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
}

.play_button {
  border: 20px;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  gap: 10px;
}
