.share_travel_container {
  display: flex;
  justify-content: center;
  justify-items: center;
  background-image: url("../Common_Images/Share_Travel/Share\ your\ travels\ section\ background\ image\ \(1\).svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 700px;
  padding-top: 10%;
  padding-bottom: 6%;
}

.share_travel_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  margin-top: 0;
  margin-bottom: 5%;
  width: 35%;
}

.share_travel_content .page_button {
  background-color: #8a53ff;
  border: 1px;
  color: #ffffff;
  width: 30%;
  height: 45px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: 5%;
  margin-top: 0;
}

.share_travel_title_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  margin-bottom: 0;
}

.share_travel_title_container .first_title {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #8a53ff;
  justify-content: center;
  align-self: center;
  margin: 5;
}

.share_travel_title_container .second_title {
  font-family: "ChangaOne", sans-serif;
  font-size: 39px;
  font-weight: 400;
  color: #434343;
  justify-content: center;
  align-self: center;
  margin-top: 0;
}

.share_travel_form_container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 12px;
}

.share_travel_form_container > .text_container {
  padding: 5%;
  padding-bottom: 0;
}

.share_travel_form_container > .text_container > h1 {
  font-family: "ChangaOne", sans-serif;
  font-weight: 400;
  size: 24px;
  line-height: 36px;
  color: #434343;
}

.share_travel_form_container > .text_container > h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  size: 16px;
  line-height: 34px;
  color: #576074;
}

.share_travel_form {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 12px;
  padding: 5%;
  padding-top: 0;
  margin-top: 0;
}

.share_travel_form .text_form {
  font-family: Roboto;
  border-radius: 4px;
  border-width: 2px;
  border-color: #0000003b;
  color: #00000099;
  height: 56px;
  margin-bottom: 15px;
  padding-left: 10px;
  font-weight: 400;
  size: 16px;
  line-height: 24px;
}

.share_travel_form .select_form {
  font-family: Roboto;
  border-radius: 4px;
  border-width: 2px;
  border-color: #0000003b;
  color: #00000099;
  height: 56px;
  margin-bottom: 15px;
  padding-left: 10px;
  font-weight: 400;
  size: 16px;
  line-height: 24px;
}

.share_travel_form .describe_text_form {
  font-family: Roboto;
  border-radius: 4px;
  border-width: 2px;
  border-color: #0000003b;
  color: #00000099;
  height: 20%;
  margin-bottom: 15px;
  padding-left: 10px;
  padding-top: 15px;
  font-weight: 400;
  size: 16px;
  line-height: 24px;
}
